
@font-face {
	font-family: AtkinsonHyperlegible;
	src: url('../fonts/AtkinsonNext/AtkinsonHyperlegibleNext-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: AtkinsonHyperlegible;
	src: url('../fonts/AtkinsonNext/AtkinsonHyperlegibleNext-ExtraBold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: AtkinsonHyperlegible;
	src: url('../fonts/AtkinsonNext/AtkinsonHyperlegibleNext-RegularItalic.woff2') format('woff2');
	font-weight: 400;;
  font-style: italic;
}
@font-face {
	font-family: AtkinsonHyperlegible;
	src: url('../fonts/AtkinsonNext/AtkinsonHyperlegibleNext-ExtraBoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
}

@font-face {
	font-family: AtkinsonHyperlegibleMono;
	src: url('../fonts/AtkinsonMono/AtkinsonHyperlegibleMono-Regular.woff2') format('woff2');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: AtkinsonHyperlegibleMono;
	src: url('../fonts/AtkinsonMono/AtkinsonHyperlegibleMono-ExtraBold.woff2') format('woff2');
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: AtkinsonHyperlegibleMono;
	src: url('../fonts/AtkinsonMono/AtkinsonHyperlegibleMono-RegularItalic.woff2') format('woff2');
	font-weight: 400;;
  font-style: italic;
}
@font-face {
	font-family: AtkinsonHyperlegibleMono;
	src: url('../fonts/AtkinsonMono/AtkinsonHyperlegibleMono-ExtraBoldItalic.woff2') format('woff2');
	font-weight: 700;
	font-style: italic;
}


@font-face {
	font-family: nasinNanpaWeb;
	src: url('../fonts/nasin-nanpa-4.0.2.otf');
}

:root {
	color-scheme: light dark;
	--light-bg: #fff;
	--light-color: #010605;
	--light-pink: #ff0088;
	
	--dark-bg: #121212;
	--dark-color: #fff;
	--dark-pink: #fe95b6;
}

#auto:checked ~ * {
	--bg:light-dark(var(--light-bg), var(--dark-bg));
	--color:light-dark(var(--light-color), var(--dark-color));
	--pink:light-dark(var(--light-pink), var(--dark-pink));
	
}
#light:checked ~ * {
	--bg:var(--light-bg);
	--color:var(--light-color);
	--pink:var(--light-pink);
}
#dark:checked ~ * {
	--bg:var(--dark-bg);
	--color:var(--dark-color);
	--pink:var(--dark-pink);
}
#blackAndWhite:checked ~ * {
	--pink: var(--color);
}

#main{
	font-family: AtkinsonHyperlegible, serif;
	font-size: max(1vw, 16px);
	color: black;
	background-color: white;
	color: var(--color);
	background-color: var(--bg);
	margin:0;
}
pre{
	font-family: AtkinsonHyperlegible, serif;
	display:inline-block;
	width:100%;
}
.lasin, .lasin:lang(tok){
	font-family: AtkinsonHyperlegible, serif;
}

p{
	margin-top:0;
}
h2{
	font-size:2em;
}
h1,h2{
	color: var(--pink);
}
h1,h2,h3{
	margin:0;
	font-family: AtkinsonHyperlegibleMono, AtkinsonHyperlegible, mono, serif;
}
h3{
	margin-right:1em;
}

p{
	padding-right:1em;
	overflow: visible;
}

.sidebar{
	writing-mode: vertical-rl;
	text-orientation: mixed;
	width: 2em;
}
td{
	padding-right: 1em;
}
th{
	text-align: left;
	vertical-align: baseline;
	font-size: 1.25em;
	min-width: 2em;
}
.sticky{
	padding-top: .5em;
	top: .5em;
	font-family: AtkinsonHyperlegibleMono, AtkinsonHyperlegible, mono, serif;
}

.pageTitle{
	padding-right:1em;
	padding-bottom:1em;
	font-size: ;1em;
}
.name {
	text-align: right;
    display: inline-block;
	font-size: 6em;
	margin-top: .2em;
	margin-bottom: 0;
	line-height: 80%;
	padding: .2em .1em .0em .1em;
	color: white;
	background-color: black;
	color: var(--bg);
	background-color: var(--pink);
	font-family: AtkinsonHyperlegible, serif;
}
.career {
    display: inline-block;
	margin-top: 0;
	margin-bottom: 0;
	text-align: left;
	position:relative;
	top: .25em;
	font-size: 3.9em;
	line-height: 0;
	font-family: AtkinsonHyperlegible, serif;
}
.careerHeightHelper1{
	line-height: 85%;
    display: inline-block;
}
.careerHeightHelper2{
	line-height: 85%;
    display: inline-block;
}
.career hr {
	margin-top: 0;
	margin-bottom: -.25em;
	border: none;
}
.careerHeightHelper3{
	line-height: 130%;
    display: inline-block;
}
.careerHeightHelper4{
	line-height: 68%;
    display: inline-block;
}
.careerWidthHelper1{
    display: inline-block;
	height:.1em;
	width: .1em;
}
.careerWidthHelper2{
    display: inline-block;
	height:.1em;
	width: .941em;
}

.options{
	margin-bottom:-.25em;
}
.button{
	padding:.25em .5em .25em .5em;
}
.hide{
	display: none;
}
#english:checked ~ * #englishButton, #tokiPona:checked ~ * #tokiPonaButton, #laLojban:checked ~ * #laLojbanButton, #auto:checked ~ * #autoButton, #light:checked ~ * #lightButton, #dark:checked ~ * #darkButton, #blackAndWhite:checked ~ * #blackAndWhiteButton, #color:checked ~ * #colorButton{
	color: black;
	background-color: white;
	color: var(--bg);
	background-color: var(--color);
}
#english:not(:checked) ~ * *:lang(en), #tokiPona:not(:checked) ~ * *:lang(tok), #laLojban:not(:checked) ~ * *:lang(jbo){
	display: none;
}

*:lang(en) .pageTitle{
	font-size: min(1em,3vw)
}

*:lang(tok), #tokiPonaButton{
	font-family: "nasinNanpaWeb", sans-serif;
}
.rotated{
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
	display:inline-block;
}

.sticky *:lang(tok){
	writing-mode: horizontal-tb;
}
*:lang(tok) .pageTitle{
	position:relative;
	top:.1em;
	font-size: 1em;
	padding-right:1em;
	padding-bottom:1em;
	font-size: min(1em,2vw)
}
*:lang(tok) .name{
	padding-top: .2em;
	padding-bottom: 0;
	margin-right: .1em;
	text-align:center;
	line-height:120%;
	float:left;
}
*:lang(tok) .career{
	line-height:115%;
	font-size: 2.5em;
	top: .5em;
	display: inline;
}
*:lang(tok) .careerWidthHelper1{
	float:right;
	width: calc(-54em + 100%);
	height:8em;
}
*:lang(tok) .lasin{
	position: relative;
	top:-.125em;
}
*:lang(tok):not(.lasin)::after{
	content: "\200b";
}
#tokiPona:checked ~ * #contactMe{
	margin-right:1em;
}
#tokiPona:checked ~ * #CopyRightLogo{
	width: 2.75em;
	height: 2.75em;
	margin-left:.25em;
	margin-top:-.5em;
}
#tokiPona:checked ~ * .button{
	padding-bottom:.125em;
	padding-top:.375em;
}

.niho{
	margin-top:.25em;
	margin-bottom: -.75em;
	font-family: AtkinsonHyperlegibleMono, AtkinsonHyperlegible, mono, serif;
}
*:lang(jbo) .career{
	top: .175em;
	font-size:4.5em;
	margin-top:.1em;
}
*:lang(jbo) .careerHeightHelper1{
    display: inline-block;
	position:relative;
	top:.25em;
	padding-left: .2em;
	line-height: 20%;
}
*:lang(jbo) .careerWidthHelper1{
	width: .55em;
}
*:lang(jbo) .careerHeightHelper2{
	line-height: 20%;
	padding-left
}
*:lang(jbo) .careerHeightHelper3{
	line-height: 100%;
}
*:lang(jbo) .careerHeightHelper4{
	line-height: 100%;
}
*:lang(jbo) .pageTitle{
	font-size: min(1em,3vw)
}


#selfPortrait, .name, .portfolioPeice img{
	border-width:.1em .1em .25em .25em;
	border-radius:.2vw;
}
@media (prefers-color-scheme: dark) {
  #selfPortrait, .name, .portfolioPeice img{
	border-width: .175em .175em .175em .175em;
  }
}
.category{
	width:100%;
	display:inline-block;
	margin-top:-1em;
	margin-bottom:-1em;
}
.portfolioPeice{
	width:100%;
	display:inline-block;
	margin-top:1em;
	margin-bottom:1em;
}
.portfolioPeice img{
	float:right;
}
#selfPortrait{
	float:left;
	margin-right:1em;
}
#selfPortrait, .portfolioPeice img{
	border-style: solid;
	border-color: black;
	background-color: black;
	color: black;
	border-color: var(--color);
	background-color: var(--color);
	color: var(--bg);
}
.landscape{
	height: calc(-5em + 40vw);
	max-height: 20em;
	width:auto;
}
.portrait{
	width: calc(-5em + 40vw);
	max-width: 20em;
	height:auto;
}
.portfolioPeice h3{
	display:inline;
}
img:hover:not(#Selected){
	opacity: 75%;
	transition: opacity .2s;  
}
#Cover, #Background{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}
#Background{
	background-color: var(--bg);
	z-index: -6;
}
#Cover{
	background-color: rgba(55.5,55.5,55.5,0.95);
	z-index: 1;
	display: none;
}
#Selected{
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 2;
	transform: translate(-50%, -50%);
	object-fit: contain;
	width: 90vw !important;
	height: 90vh !important;
	margin: 0;
}

#CopyRight,#contactMe{
	text-align:right;
	padding-right:1em;
	color:var(--pink)
}
#CopyRightLogo {
	display: inline-block;
	width: 2.2em;
	height: 2.2em;
	position:relative;
	top:.2em;
	margin-left:.25em;
}
#contactMe{
	padding-right: 3.75em;
	margin-bottom: -1.25em;
}

.unselectable{
	-webkit-user-select: none;       
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.warning{
	background-color:var(--pink);
	color:var(--bg);
	text-align:center;
	margin-top:.5em;
	margin-bottom:.5em;
	padding-top:.125em;
	font-size:4em;
}


@media print {
  .noPrint {
      display:none;
  }
  h1,h2,h3, #name{
	  color:black;
  }
}